/*FORMULARIOS JULIAN*/
form{
	border-radius: 5px;
	font-size: 1.2em;
	margin: auto;
   	border: solid 2px;
  	padding: .2em;
  	background-color: #F4B97F;
	text-align: center;
}
	form>label{
		float: left;
	}
	form[class="entrada-form"]>input:first-of-type{
		width: 95%;
		max-width: 400px;
		height: 20px;
	}
	form[class="entrada-form"]>textarea{
		width:95%;
		max-width: 400px;
		height: 100px;
	}
	form[class="entrada-form"]>span{
		left: 10px;
		position: absolute;
	}
	form[class="buscar-form"]>label{
		display: block;
		text-align: right;
		width: 120px;
	}
	form[class="buscar-form"]>input:not[type="submit"]{
		position: relative;
		min-width: 180px;
		max-width: 320px;
		width: 40%;
		float: left;
		display: block;
		padding: .2em;
		left:10px;
	}
img[class="miniatura-entrada"]{
	padding: 0;
	margin: .3em;

	display: block;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 95%;
    height: auto;
}
input[type="file"]{
	display: none;
}
input[type="submit"]{
	width: 50%;
	max-width: 300px;
	text-align: center;
	font-weight:bold;
    border: 0;
    padding: .5em;
    margin: .3em;
    background-color: #FF6A29;
}
/*Mover al media*/
input[type="submit"]:hover{
	background-color: #F78D59;
	color:#fff;
}