/*MAIN*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	font-family: 'Roboto', sans-serif;
}
body{
	min-width: 320px;
	max-width: 960px;
	background-color: #F1A553;
	margin: 0 auto;
	padding: 0;
}
	body>header{
		margin-top: 2em;
		background-color: #F9FB68;
		overflow: hidden;
		text-align: justify;
		display: flex;
		flex-direction: column;
	}
		header>img{
			align-self: center;
		}
			
		header>div{
			padding:0.4em;
		}
			header>div>h1{
				t: center;
			}
/*Artículos principales*/
section{
}
	/*TOCADO POR alexei*/
	section>article{
		background-color: #EFC384;
		width:80%;
		margin:1em auto;
		padding:0;
		border:.1em solid #234;
		border-radius:5px;
	}
		/*TOCADO POR alexei*/
		section>article>figure{
			width:100%;
			height:auto;
			margin:0px;
		}
			/*TOCADO POR alexei*/
			section>article>figure>img{
				width:100%;
				height:auto;
				margin:0px;
			}
			/*TOCADO POR alexei*/
			section>article>figure>img:hover ~ p{
				animation:espera 1s forwards;
			}
			/*TOCADO POR alexei*/
			section>article>figure>p{
				z-index:10;
				background-color:rgba(20,20,20,0.7);
				color:white;
				
				display:inline-flex;
				overflow:hidden;
				white-space:wrap;
				justify-content:space-around;
				
				height:2.5em;
				text-align:center;
				padding:0;
				margin:0;
				opacity:0;
				
				transform:translate(0,-2.5em);
			}
			section>article>figure>p:hover{
				animation:espera 1s forwards;
			}
				/*TOCADO POR alexei*/
				section>article>figure>p>a{
					background-color:#000;
					color:white;
					font-weight:500;
					text-decoration:none;
					padding:0 0.4em;
				}
				/*TOCADO POR alexei*/
				section>article>figure>p>a:hover{
					color:grey;
				}

			
		/*TOCADO POR alexei*/
		section>article>a{
			padding:0px;
			overflow:hidden;
		}
		section>article>footer{

		}
/*MENU-HAMBUGUESITA*/
label[for="ckb-menu"]{
	cursor: pointer;
	font-size: 1.4em;
	font-weight: bold;
}
#ckb-menu{
	display: none;
}
#ckb-menu:checked+nav{
	max-height: 12.7em;
}
nav[class="menu"]{
	/*CORREGIR*/
	top:0;
	position: fixed;
	width: 100%;
	z-index: 1000;
	max-height: 2em;
	overflow: hidden;
	transition:max-height 1s;
	background-color: #FF6A29;
}
	nav[class="menu"]>ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}	
		nav[class="menu"]>ul>li{
			text-align: center;
		}
		/*Hay que trabajar con el 'a'*/
			nav[class="menu"]>ul>li>a,label[for="ckb-menu"]{
				display: block;
				padding: .2em 0;
				text-decoration: none;
				color: black;
				font-style: bold;
			}
			/*Mover para pantallas(?)*/
			nav[class="menu"]>ul>li>a:hover{
				background-color: #F78D59;
				color:#fff;
			}
footer>nav{
	overflow:hidden;
	background-color: #FF6A29;
}
	/*TOCADO POR alexei*/
	footer>nav>ul{
		list-style: none;
		margin:0px;
		padding:0px;
		display:flex;
		flex-wrap:nowrap;
		justify-content:space-around;
	}
		/*TOCADO POR alexei*/
		footer>nav>ul>li{
			text-align: center;
			display: inline-block;
			padding: .2em 1em;
		}
		/*TOCADO POR alexei*/
		footer>nav>ul>li:nth-of-type(2n){
			border: 0vw 1vw solid #234;
			width:0px;
		}
		/*TOCADO POR alexei*/
		footer>nav>ul>li:hover:last-of-type{
				background-color: #F78D59;
				color: white;
		}
			footer>nav>ul>li>a{
				display: block;
				text-decoration: none;
				color: black;
				font-style: bold;
			}
			
@media all and (min-width:480px){
	/*DES-HABMUGUESA*/
	/*TOCADO POR alexei*/
	nav[class="menu"]{
		max-height: 2em;
	}
		nav[class="menu"]>ul>li:first-of-type{
			display: none;
		}
	nav>ul>li{
		display: inline-block;
		float:left;
	}
	nav>ul>li>a{
			padding: .2em .5em;
		}
	/*TOCADO POR alexei*/
	nav[class="menu"]>ul>li:not(:last-of-type){
		border-right: .1em solid #234;
	}
	/*FLEX HEADER*/
	body>header{
		flex-direction: row;
		justify-content: space-between;
	}
}

@keyframes espera {
	from{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}